/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

body:not(.preview) .swap-type-text,
body:not(.preview) .swap-type-image,
body:not(.preview) .swap-type-url
{
    opacity: 0;
}

.unblur {
    animation: unblur 1.5s;
}

@-webkit-keyframes unblur {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}